@charset "UTF-8";
#content table img{width:300px; height:250px;}
#content{ font-weight: bold; font-size:15px; font-family:'dotum'; margin-top: 50px;}
#bordcontenta a{text-decoration:none; color:#747474;} 
#bordcontenta a:hover {text-decoration:underline; color:#6799FF; border:thick;}

#borda{margin:20px;}
#borda a{font-size:18px; text-decoration:none; color:#747474;}
#borda a:hover{text-decoration:underline; color:#6799FF; border:thick;}
#hearderimg{width:50px; height:50px; position:absolute; margin-right:100px;}
