@charset "UTF-8";
#header{font-size:15px; margin-top:20px; margin-right:100px;}
#header input{position:relative;}
#header img{width:30px; height:30px;}
#header a{text-decoration:none; color:#747474;}
#header a:hover {text-decoration:underline; color:#6799FF;}
#header input{position:relative;}
ul{list-style-type: none;}