a{text-decoration:none; color:gray;}
a:hover{text-decoration:underline; color:blue;}
#listimg{width:150px; height:200px;}
#listtable{border: 1px solid #444444; width:50%; height:150px; position:relative;}
#listdiv{margin-top:80px; margin-bottom:100px;}
#listcontent{margin-right:25px;}
#pagelistnum{width:50px; height:50px;}
#chois{margin:150px; margin-bottom:10px;}
input[type=checkbox] {position:absolute; margin-left:100px; margin-top:75px;}
#wishlistnum a{text-decoration: none; color:#4C4C4C;}
#wishlistnum a:hover {text-decoration: underline; color:#6799FF;}