#reply{margin-top:100px; margin-bottom:100px;}
table{border-spacing: 0px; border-collapse: separate;}
table td{margin:50px;}
#page a{margin-top:20px; text-decoration:none; text-align:center; color:#212121; font-size:20px;}
#page a:hover {text-decoration:underline; text-align:center;}
#replylistimg{border-radius: 15px; width:50px; height:50px; margin-left:8px;}
#replycontent{margin-top:10px;}
#replysave{text-decoration: none; text-align:center;  border: thin; background-color:#A6A6A6; height:40px;}
#gologin{background-color:#A6A6A6; text-decoration: none; text-align:center;  border: thin; height:40px; width:250px; margin:15px;}
