@charset "UTF-8";
#main table {width: 300px;border-top: 1px solid #444444;border-collapse: collapse;}
#main th, td {border-bottom: 1px solid #444444;padding: 10px;}
#header td{font-weight: bold; text-decoration: none; padding:10px;}
#content a{text-decoration: none; color:#000000;}
#content a:hover{text-decoration: none; color:#707070}
#footer{margin-left: 800px;}
#footer a{text-decoration: none; color:#000000;}
#footer a:hover{text-decoration: none; color:#707070}