@charset "UTF-8";
#login fieldset{width:300px; margin-top:150px;}
#id_sp{font-size:13px;  font-style:"dotum";}
#id_sp a{text-decoration:none; color:#6799FF;}
#id_sp a:hover {text-decoration:underline; color:#6799FF;}
#btn{background-color:#6799FF; width:200px; text-decoration: none; text-align:center; border: thin; }
#alertImg img{width:50px; height:50px;}
