@charset "UTF-8";
#content{margin-left:100px; margin-top:20px;}
#header{margin-left: 1000px;}
#header a{color:black; text-decoration:none;}
#header a:hover{color:silver; text-decoration:underline;}
#sidemenu{position:absolute;}
#container{position:relative;}
#content table{width:700px; background-color: #FFFFFF; height:500px;}
#Pfooter{margin-left:200px;}
#header td{font-weight: bold; text-decoration: none; padding:10px;}
#Pcontent a{text-decoration: none; color:#000000;}
#Pcontent a:hover{text-decoration: underline; color:#707070}
#Pfooter a{text-decoration: none; color:#000000;}
#Pfooter a:hover{text-decoration: underline; color:#707070}
#Pwriter{margin-left:440px;}
#Pserch{margin-left:150px;}